@import './styles/forms.css';
@import './styles/userProfile.css';
@import './styles/shop.css';
@import './styles/singleProduct.css';
@import './styles/navbar.css';
@import './styles/cart.css';
@import './styles/order.css';
@import './styles/footer.css';
@import './styles/checkout.css';

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 2.5vh;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  min-height: 100%;
  width: auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
