@import './styles/forms.css';
@import './styles/userProfile.css';
@import './styles/shop.css';
@import './styles/singleProduct.css';
@import './styles/navbar.css';
@import './styles/cart.css';
@import './styles/order.css';
@import './styles/footer.css';
@import './styles/checkout.css';
@import './styles/admin.css';
@import './styles/home.css';
@import './styles/contact.css';
@import './styles/about.css';
@import './styles/notfoundpage.css';
@import './styles/allusers.css';
@import './styles/mediaqueries.css';

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 2.5vh;
  /* height: 100%; */
  overflow-x: hidden;
  
}

body {
  margin: 0px;
  min-height: 100vh;
  width: auto;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
