.all-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
}

.table-label-name, .table-label-long  {
  font-weight: 500;
}

.table-label-name, .table-content-name {
  padding: 0.5rem 2rem;
}

.table-label-long, .table-content-long {
  padding: 0.5rem 3rem;
}


.table-content {
  padding: 0.5rem 4rem;
}
