.cart-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  height: 30rem;

  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* RIGHT SIDE */
.cart-card-right {
  display: flex;
  flex-direction: column;
  background-color: #fdefe1 ;
  /* font-size: .6em; */
  color: black;
  width: 18rem;
  height: 20rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  /* box-shadow: 0 0px 0px  rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19); */
  transition-duration: .5s;
  }


  /* LEFT SIDE */
  .shopping-cart-left-container {
    display: flex;
    flex-direction: column;

}

.checkout-card-row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;

}

.checkout-card-inline-block {
    display: inline-block;
}

/* BUTTONS */
.delete-btn {
  border-radius: 10px;
  background-color: #d49090;
  font-size: .7rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.delete-btn:hover {
  background-color: #ef757a;
}

.checkout-btn {
  border-radius: 10px;
  background-color: #d49090;
  height: 45px;
  padding: 12px;
  width: 260px;
  font-size: .8rem;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  transition: .2s;
}
.checkout-btn:hover {
  background-color: #ef757a;
}

/* LINE BREAK */
.shopping-cart-title {
  font-size: 1rem;
  text-align: center;
}

.quantity-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 3rem;
}

.increment-btn {
  border-radius: 10px;
  background-color: #ffffff;
  color: #d49090;
  height: 15px;
  /* padding: 12px; */
  /* width: 260px; */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: .2s;
}
.increment-btn:hover {
  color: #ef757a;
}