footer {
  bottom: 0;
  width: 100%;
}

.footer-container {
  background-color: rgba(247, 202, 203, 0.2);
  padding: .25rem;
  display: flex;
  justify-content: space-evenly;

}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-link {
  color: #d49090;
  text-decoration: none;
  transition-duration: .2s;
}

.footer-link:hover {
  color: #ef757a;
}

.footer-list:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

.footer-wave:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}