footer {
  /* position: relative; */
  bottom: 0;
  width: 100%;
}

.footer-container {
  /* display: flex; */
  background-color: #fdefe1 ;
  line-height: 1.3;
}
.footer-list {
  /* display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 5rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  /* margin-top: 1rem; */
}

.footer-link {
  color: #d49090;
  text-decoration: none;
  transition-duration: .2s;
}

.footer-link:hover {
  color: #ef757a;
}

.footer-link:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-list:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}



@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

/* .footer-links {
  bottom: 0;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  justify-content: space-between;
}

.about {
  margin-left: 4rem;
}

.team-member {
  display: grid;
}

.team-member-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 2rem;
}

.team-member-link .team-member-name {
  text-decoration: none;
  margin: 2rem;
  border-left: 2rem;
}

.contact-desc {
  margin: 2rem;
} */