footer {
  bottom: 0;
  width: 100%;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  background-color: #fdefe1 ;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;

}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-link {
  color: #d49090;
  text-decoration: none;
  transition-duration: .2s;
}

.footer-link:hover {
  color: #ef757a;
}

.footer-list:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

.footer-wave {
  padding: 0;
  margin: 0;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}