.form-container {
    display: flex;
}

.login, .signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login > div, .signup > div, .update {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.login .title , .signup .title{
    color: rgb(30, 30, 30);
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto 20px;
}

.login input, .signup input, .update input, textarea {
    width: 260px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 11px 15px;
    background-color: rgb(245, 245, 245);
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(30, 30, 30);
    transition: .2s;
}
.login input::placeholder, .signup input::placeholder, .update input::placeholder, textarea::placeholder {
    color: rgb(200, 200, 200);
}
.login input:hover, .signup input:hover, .update input:hover, textarea:hover {
    background-color: #F1EFF1;
}
.login input:focus, .signup input:focus, .update input:focus, textarea:focus   {
    background-color: #fff;
    border: 1px solid #d49090;
    box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
}

.login input:valid, .signup input:valid, .update input:valid, textarea:valid {
    border: 1px solid rgb(220, 220, 220);
}

/* .login input:invalid {
    border: 1px solid red;
} */

.login button, .signup button, .update-btns button {
    border-radius: 10px;
    background-color: #d49090;
    height: 45px;
    padding: 12px;
    width: 260px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    transition: .2s;
}
.login button:hover, .signup button:hover, .update-btns button:hover {
    background-color: #ef757a;
}

.login button i {
    font-size: 16px;
}

.login .buttonShadow, .signup .buttonShadow, .update-btns .buttonShadow{
    background-color: #fff;
    color: rgb(100, 100, 100);
    box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
}
.login .buttonShadow:hover, .signup .buttonShadow:hover, .update-btns .buttonShadow:hover  {
    background-color: rgb(50, 50, 50, .2);
}

.login a {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
}

.login .text {
    font-size: 15px;
    margin: 40px auto 0;
    color: rgb(20, 20, 20);
}

.input-container {
    margin: 0;
}

.product-info-div {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    padding: .25rem;
    margin: 0;
}

.product-info-name {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 8rem;
    padding: .25rem;
    margin: 0;
}

.product-info-input {
    padding: .25rem;
    margin: 0;
}

textarea {
    resize: none;
    height: 5rem;
    font-family: inherit;
}

.category-list {
    width: 292px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 11px 15px;
}

.update-btns, .create-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 1rem auto;
}

.create-btns button, .update-btns {
    margin: .5rem auto;
}

.cat-cont {
    margin: 0;
}

.user-label {
    padding: 0;
    margin: 1rem 0 .5rem 0;
}