/* .form-container {
  display: flex;
  flex-direction: column;
}

form {
	margin:10% auto 0 auto;
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
}

form label {
	font-size:14px;
	color:darkgray;
	cursor:pointer;
}

input {
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
}

input:focus {
	border-color:cornflowerblue;
} */

@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.login .title {
    color: rgb(30, 30, 30);
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto 20px;
}

.login input {
    width: 260px;
    border-radius: 4px;
    margin: 10px auto;
    padding: 11px 15px;
    background-color: rgb(245, 245, 245);
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(30, 30, 30);
    transition: .3s;
}
.login input::placeholder {
    color: rgb(200, 200, 200);
}
.login input:hover {
    background-color: #F1EFF1;
}
.login input:focus {
    background-color: #fff;
    border: 1px solid rgb(87, 126, 219);
    box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
}
.login input:valid {
    border: 1px solid rgb(220, 220, 220);
}

.login button {
    border-radius: 4px;
    background-color: #d49090;
    height: 45px;
    padding: 12px;
    width: 260px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    transition: .3s;
}
.login button:hover {
    background-color: #ef757a;
}
.login button i {
    font-size: 16px;
}

.login .buttonShadow {
    background-color: #fff;
    color: rgb(100, 100, 100);
    box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
}
.login .buttonShadow:hover {
    background-color: rgb(50, 50, 50, .2);
}

.login a {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
}

.login .text {
    font-size: 15px;
    margin: 40px auto 0;
    color: rgb(20, 20, 20);
}