.order-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.all-order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.order-container {
  margin: 30px;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* box-shadow: 0 .5rem 1rem .5rem #E3E3E3; */
  background-color: #fdefe1 ;
  width: 70%;
}

.order-img {
  width: 12vh;
  height: 14vh;
  border-radius: 10px;
}

.order-item-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;

  background-color: #fdefe1 ;
  /* color: black;
  width: 18rem;
  height: 20rem; */

  border-radius: 10px;

}

a {
  font-size: .8rem;
  color: inherit;
  transition-duration: .2s;
}

a:hover {
  color: #d49090;
  transition-duration: .2s;
}
