/* GRID STYLING */
.grid-section {
    margin: 2rem;
    font-size: 40px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0;
    margin-top: 20px;
    /* font-size: .7em; */
  }

  .grid-section-left {
    margin-top: 20px;
    font-size: .35em;
  }
  

  .grid-section-left-category-bold {
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 0px;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
  }

  li {
    padding: 5px 0px 5px;
    margin: 0;
    transition-duration: .2s;
  }

  li:hover {
    color: #d49090;
    transition-duration: .2s;
    cursor: pointer;
  }

  /* .grid-section-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 20px;
    font-size: .5em;
} */

  .grid-section-right {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 2rem;
    margin-top: 20px;
    font-size: .5em;
}

  .shop-image {
    height: 10.5rem;
    width: 10rem;
    border-radius: 10px;
    /* border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; */
    opacity: 90%;
    transition-duration: .5s;
  }

  .shop-image:hover {
    opacity: 100%;
    transition-duration: .5s;
  }

  .grid-item {
  font-size: .6em;
  color: black;
  width: 10rem;
  height: 18rem;
  border-radius: 10px;
  box-shadow: 0 0px 0px  rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
  transition-duration: .5s;
  }

  .grid-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: #f2f3f4; */
    /* color:#d49090; */
    transition-duration: .5s;
  }

  .grid-item-text {
    color: #000000;
    opacity: 85%;
    padding-left: .5rem;
    transition-duration: .5s;
  }

  .shop-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-to-cart {
      border-radius: 5px;
      background-color: #d49090;
      height: 1rem;

      width: 7rem;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      border: none;
      cursor: pointer;
      /* margin-left: 1.5rem;
      margin-top: 1rem; */
      transition: .2s;
      text-align: center;
  }

  .shop-btn {
    margin: .5rem;
  }
  .add-to-cart:hover {
      background-color: #ef757a;
  }

  .view-more-btn {
    border-radius: 5px;
    background-color: #fff;
    color: #d49090;
    height: 1rem;
    width: 7rem;
    font-size: 14px;
    /* font-weight: bold; */
    border: none;
    cursor: pointer;
    /* margin-left: 1.5rem;
    margin-top: 1rem; */
    transition: .2s;
    text-align: center;
}

.view-more-btn:hover {
    /* background-color: #ef757a; */
    border: 1px solid #ef757a;
    color: #ef757a;
}
    /* background-color: #d49090;
  backface-visibility: hidden;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 1rem;
  width: 7rem;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-decoration: none;
  transition: all .3s;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center; */
/* } */

p {
    padding-left: .5rem;
  }

  .grid-item-text:hover {
    color: #000000;
    opacity: 100%;
    transition-duration: .5s;
  }

  .category-search {
    height: .5rem;
    width: 8em;
    border-radius: 5px;
    padding: 11px 15px;
  background-color: rgb(245, 245, 245);
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0);
  font-size: 15px;
  color: rgb(30, 30, 30);
  transition: .2s;
}
.category-search::placeholder {
  color: rgb(200, 200, 200);
}
.category-search:hover {
  background-color: #F1EFF1;
}
.category-search:focus {
  background-color: #fff;
  /* border: 1px solid #d49090; */
  box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1);
}

  /* END OF GRID STYLING */

  