.s-product-main-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15rem;
}

.s-product-name {
  display: flex;
  justify-content: center;
}

.s-product-main {
  display: flex;
  justify-content: center;
  gap: 5rem;
  min-height: 60vh;
  padding: 2rem;
}

.s-product-img {
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  opacity: 85%;
}

.s-product-detail-name {
  font-size: .8rem
}

.s-product-detail-price {
  font-size: .8rem;
  opacity: 70%;
}

.s-product-detail-description {
  font-size: .8rem;
  opacity: 70%;
}

.s-product-detail {
  padding: 0 20px;
}

.category {
  font-size: .6rem;
  opacity: 60%;
}

.add-to-cart-btn {
  border-radius: 10px;
  background-color: #d49090;
  height: 45px;
  padding: 12px;
  width: 260px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  transition: .2s;
}
.add-to-cart-btn:hover {
  background-color: #ef757a;
}