@import 'forms.css';
@import 'userProfile.css';

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 2.5vh;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  min-height: 100%;
  width: auto;
}

/* GRID STYLING */
.grid-section {
  margin: 150px;
  font-size: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 100px 50px;
  border-style: solid red;
  margin-top: 20px;
  font-size: .5em;
}
.grid-item {

}
/* END OF GRID STYLING */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
